{% extends 'parent.html' %}


{% block title %}
    <title>Child Page</title>
{% endblock %}


{% block body_block %}

    <center>
        <br><h2 class="bg-info text-dark"> <i> This is Child Page </i></h2><br>
        <p class="bg-warning text-primary container">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto iste 
            libero ducimus enim? Quos doloribus modi quae iste laboriosam deleniti, 
            provident quaerat eius qui aspernatur, officia rerum reiciendis eum alias.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto iste 
            libero ducimus enim? Quos doloribus modi quae iste laboriosam deleniti, 
            provident quaerat eius qui aspernatur, officia rerum reiciendis eum alias.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto iste 
            libero ducimus enim? Quos doloribus modi quae iste laboriosam deleniti, 
            provident quaerat eius qui aspernatur, officia rerum reiciendis eum alias.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto iste 
            libero ducimus enim? Quos doloribus modi quae iste laboriosam deleniti, 
            provident quaerat eius qui aspernatur, officia rerum reiciendis eum alias.
        </p>
        <p class="bg-warning text-danger "  style="text-align:justify;">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto iste 
            libero ducimus enim? Quos doloribus modi quae iste laboriosam deleniti, 
            provident quaerat eius qui aspernatur, officia rerum reiciendis eum alias.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto iste 
            libero ducimus enim? Quos doloribus modi quae iste laboriosam deleniti, 
            provident quaerat eius qui aspernatur, officia rerum reiciendis eum alias.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto iste 
            libero ducimus enim? Quos doloribus modi quae iste laboriosam deleniti, 
            provident quaerat eius qui aspernatur, officia rerum reiciendis eum alias.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto iste 
            libero ducimus enim? Quos doloribus modi quae iste laboriosam deleniti, 
            provident quaerat eius qui aspernatur, officia rerum reiciendis eum alias.
        </p>

        <a href="{% url 'parent' %}" class="btn btn-success">Go to Parent</a>

    </center>

{% endblock %}